In [1]:
dataset = [['Skirt', 'Sneakers', 'Scarf', 'Pants', 'Hat'],

           ['Sunglasses', 'Skirt', 'Sneakers', 'Pants', 'Hat'],

           ['Dress', 'Sandals', 'Scarf', 'Pants', 'Heels'],

           ['Dress', 'Necklace', 'Earrings', 'Scarf', 'Hat', 'Heels', 'Hat'],

           ['Earrings', 'Skirt', 'Skirt', 'Scarf', 'Shirt', 'Pants']]

In [2]:
import mlxtend
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
dataset

[['Skirt', 'Sneakers', 'Scarf', 'Pants', 'Hat'],
 ['Sunglasses', 'Skirt', 'Sneakers', 'Pants', 'Hat'],
 ['Dress', 'Sandals', 'Scarf', 'Pants', 'Heels'],
 ['Dress', 'Necklace', 'Earrings', 'Scarf', 'Hat', 'Heels', 'Hat'],
 ['Earrings', 'Skirt', 'Skirt', 'Scarf', 'Shirt', 'Pants']]

In [3]:
model =TransactionEncoder()
model_m=model.fit(dataset).transform(dataset)    #Apply one-hot-encoding on our dataset
df=pd.DataFrame(model_m, columns=model.columns_)  #Creating a new DataFrame from our Numpy array
df

,Dress,Earrings,Hat,Heels,Necklace,Pants,Sandals,Scarf,Shirt,Skirt,Sneakers,Sunglasses
0,False,False,True,False,False,True,False,True,False,True,True,False
1,False,False,True,False,False,True,False,False,False,True,True,True
2,True,False,False,True,False,True,True,True,False,False,False,False
3,True,True,True,True,True,False,False,True,False,False,False,False
4,False,True,False,False,False,True,False,True,True,True,False,False

In [4]:
from mlxtend.frequent_patterns import apriori
frequent_itemese = apriori(df, min_support=0.6, use_colnames=True)
frequent_itemese

   support        itemsets
0      0.6           (Hat)
1      0.8         (Pants)
2      0.8         (Scarf)
3      0.6         (Skirt)
4      0.6  (Pants, Scarf)
5      0.6  (Skirt, Pants)

In [5]:
from mlxtend.frequent_patterns import association_rules 
Rus = association_rules(frequent_itemese,metric="confidence",min_threshold=0.7) # associate itemsets with confidence over 70%.
Rus

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Pants),(Scarf),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
1,(Scarf),(Pants),0.8,0.8,0.6,0.75,0.9375,-0.04,0.8
2,(Skirt),(Pants),0.6,0.8,0.6,1.00,1.2500,0.12,inf
3,(Pants),(Skirt),0.8,0.6,0.6,0.75,1.2500,0.12,1.6

In [6]:
#RES1 = association_rules(frequent_itemese,metric="lift",min_threshold=1.25)
#RES1

In [7]:
Res1 = Rus[['antecedent support','consequent support','support','confidence','lift']]
Res1

   antecedent support  consequent support  support  confidence    lift
0                 0.8                 0.8      0.6        0.75  0.9375
1                 0.8                 0.8      0.6        0.75  0.9375
2                 0.6                 0.8      0.6        1.00  1.2500
3                 0.8                 0.6      0.6        0.75  1.2500

In [8]:
RES2 = Res1[Res1['confidence']>=1]
RES2

   antecedent support  consequent support  support  confidence  lift
2                 0.6                 0.8      0.6         1.0  1.25

In [9]:
import csv
bigdata = []
with open('Market_Basket_Optimisation.csv', newline='') as f:
    reader = csv.reader(f)
    for b in reader:
         bigdata.append(b)

In [10]:
model1 =TransactionEncoder()
model1_m=model1.fit(bigdata).transform(bigdata)    #Apply one-hot-encoding on our dataset
df2=pd.DataFrame(model1_m, columns=model1.columns_)  #Creating a new DataFrame from our Numpy array
df2

,asparagus,almonds,antioxydant juice,asparagus,avocado,babies food,bacon,barbecue sauce,black tea,blueberries,...,turkey,vegetables mix,water spray,white wine,whole weat flour,whole wheat pasta,whole wheat rice,yams,yogurt cake,zucchini
0,False,True,True,False,True,False,False,False,False,False,...,False,True,False,False,True,False,False,True,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,True,False,False,False,False,False,...,True,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7497,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7498,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7499,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7500,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,True,False

In [11]:
df2.columns

Index([' asparagus', 'almonds', 'antioxydant juice', 'asparagus', 'avocado',
       'babies food', 'bacon', 'barbecue sauce', 'black tea', 'blueberries',
       ...
       'turkey', 'vegetables mix', 'water spray', 'white wine',
       'whole weat flour', 'whole wheat pasta', 'whole wheat rice', 'yams',
       'yogurt cake', 'zucchini'],
      dtype='object', length=120)

In [16]:
from mlxtend.frequent_patterns import apriori
frequent_itemese = apriori(df2, min_support=0.005, use_colnames=True)
frequent_itemese

      support                                      itemsets
0    0.020397                                     (almonds)
1    0.008932                           (antioxydant juice)
2    0.033329                                     (avocado)
3    0.008666                                       (bacon)
4    0.010799                              (barbecue sauce)
..        ...                                           ...
720  0.007466              (mineral water, spaghetti, soup)
721  0.009332          (mineral water, spaghetti, tomatoes)
722  0.006399            (mineral water, turkey, spaghetti)
723  0.006266  (mineral water, whole wheat rice, spaghetti)
724  0.005066              (pancakes, olive oil, spaghetti)

[725 rows x 2 columns]

In [24]:
from mlxtend.frequent_patterns import association_rules 
RUS = association_rules(frequent_itemese,metric="confidence",min_threshold=0.5) # associate itemsets with confidence over 70%.
RUS

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,"(chocolate, chicken)",(mineral water),0.014665,0.238368,0.007599,0.518182,2.173871,0.004103,1.580745
1,"(chocolate, olive oil)",(mineral water),0.016398,0.238368,0.008266,0.504065,2.114649,0.004357,1.535749
2,"(chocolate, soup)",(mineral water),0.010132,0.238368,0.005599,0.552632,2.318395,0.003184,1.702471
3,"(eggs, cooking oil)",(mineral water),0.011732,0.238368,0.006399,0.545455,2.288286,0.003603,1.675590
4,"(ground beef, eggs)",(mineral water),0.019997,0.238368,0.010132,0.506667,2.125563,0.005365,1.543848
5,"(ground beef, frozen vegetables)",(mineral water),0.016931,0.238368,0.009199,0.543307,2.279277,0.005163,1.667711
6,"(ground beef, frozen vegetables)",(spaghetti),0.016931,0.174110,0.008666,0.511811,2.939582,0.005718,1.691742
7,"(frozen vegetables, olive oil)",(mineral water),0.011332,0.238368,0.006532,0.576471,2.418404,0.003831,1.798297
8,"(frozen vegetables, soup)",(mineral water),0.007999,0.238368,0.005066,0.633333,2.656954,0.003159,2.077178
9,"(frozen vegetables, olive oil)",(spaghetti),0.011332,0.174110,0.005733,0.505882,2.905531,0.003760,1.671444
10,"(milk, ground beef)",(mineral water),0.021997,0.238368,0.011065,0.503030,2.110308,0.005822,1.532552
11,"(pancakes, ground beef)",(mineral water),0.014531,0.238368,0.007466,0.513761,2.155327,0.004002,1.566375
12,"(ground beef, soup)",(mineral water),0.009732,0.238368,0.005066,0.520548,2.183798,0.002746,1.588546
13,"(ground beef, shrimp)",(spaghetti),0.011465,0.174110,0.005999,0.523256,3.005315,0.004003,1.732354
14,"(milk, olive oil)",(mineral water),0.017064,0.238368,0.008532,0.500000,2.097595,0.004465,1.523264
15,"(milk, soup)",(mineral water),0.015198,0.238368,0.008532,0.561404,2.355194,0.004909,1.736520
16,"(milk, turkey)",(mineral water),0.011332,0.238368,0.006133,0.541176,2.270338,0.003431,1.659967
17,"(olive oil, soup)",(mineral water),0.008932,0.238368,0.005199,0.582090,2.441976,0.003070,1.822476
18,"(salmon, spaghetti)",(mineral water),0.013465,0.238368,0.006799,0.504950,2.118363,0.003589,1.538496
19,"(soup, spaghetti)",(mineral water),0.014265,0.238368,0.007466,0.523364,2.195614,0.004065,1.597933

In [18]:
RUS1= RUS[['antecedent support','consequent support','support','confidence','lift']]
RUS1

      antecedent support  consequent support   support  confidence      lift
0               0.087188            0.020397  0.005199    0.059633  2.923577
1               0.020397            0.087188  0.005199    0.254902  2.923577
2               0.163845            0.020397  0.005999    0.036615  1.795099
3               0.020397            0.163845  0.005999    0.294118  1.795099
4               0.179709            0.020397  0.006532    0.036350  1.782108
...                  ...                 ...       ...         ...       ...
1935            0.025197            0.065858  0.005066    0.201058  3.052910
1936            0.022930            0.095054  0.005066    0.220930  2.324260
1937            0.095054            0.022930  0.005066    0.053296  2.324260
1938            0.065858            0.025197  0.005066    0.076923  3.052910
1939            0.174110            0.010799  0.005066    0.029096  2.694478

[1940 rows x 5 columns]

In [19]:
RUS2 = RUS1[RUS1['confidence']>=1]
RUS2

Empty DataFrame
Columns: [antecedent support, consequent support, support, confidence, lift]
Index: []